<div class="sidebar-container">
    <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
        <ng-template pTemplate="headless">
            <div class="flex flex-column h-full">
                <div class="button-home-container">
                    <span class="inline-flex align-items-center gap-2">
                        <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg" class="block mx-auto">
                            <!-- Your logo SVG -->
                        </svg>
                        <a routerLink="/admin" class="button-home" onclick="home()">
                            <img class="avatar" src="https://i.pinimg.com/564x/cb/e7/02/cbe7022aefd9b4825077d9aa99d4808d.jpg" alt="Avatar">
                            <span class="">PawPatrol</span>
                        </a>                    
                    </span>
                </div>
                <div class="overflow-y-auto">
                    <ul class="list-none p-3 m-0">
                        <li>
                            <div
                                pRipple
                                pStyleClass="@next"
                                enterClass="hidden"
                                enterActiveClass="slidedown"
                                leaveToClass="hidden"
                                leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
                            >
                                <span class="coursestab">Courses</span>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li>
                                    <a routerLink="/admin/courses/post" class="addcourse">
                                        <i class="pi pi-plus-circle mr-2"></i>
                                        <span class="font-medium">Add Course</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/admin/courses" class="viewcourses">
                                        <i class="pi pi-list mr-2"></i>
                                        <span class="font-medium">View Courses</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div
                                pRipple
                                pStyleClass="@next"
                                enterClass="hidden"
                                enterActiveClass="slidedown"
                                leaveToClass="hidden"
                                leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
                            >
                                <span class="studentstab">Students</span>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li>
                                    <a routerLink="/admin/students" class="viewstudents">
                                        <i class="pi pi-list mr-2"></i>
                                        <span class="font-medium">View Students</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>
    </p-sidebar>
</div>
<button (click)="sidebarVisible = true" class="custom-button">
    <i class="pi pi-arrow-right"></i>
</button>

