/* Style for the sidebar container */
.sidebar-container {
    background: linear-gradient(to right, #fefefe, #2d2c2cc3);
}

/* Style for the button that toggles the sidebar */
.custom-button {
    background: linear-gradient(to right, #fefefe, #2d2c2cc3);
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
}

.custom-button i {
    color: black;
    margin-right: 5px;
}

.custom-button:hover {
    background-color: #f0f0f0;
}

/* Style for the sidebar panel menu */
.p-panelmenu {
    width: 100%;
}

.p-panelmenu .p-panelmenu-header {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 10px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #ccc;
}

.p-panelmenu .p-panelmenu-content {
    padding: 0;
}

.p-panelmenu .p-panelmenu-item {
    font-size: 16px;
    color: black;
}

.p-panelmenu .p-panelmenu-item a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.p-panelmenu .p-panelmenu-item a:hover {
    background-color: #e0e0e0;
}

/* Style for the menu item icons */
.menu-item-icon {
    font-size: 18px;
    margin-right: 10px;
    color: #1E88E5;
}

/* Style for the badges */
.menu-item-badge {
    background-color: #1E88E5;
    color: white;
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 12px;
}

/* Style for the shortcuts */
.shortcut {
    font-size: 12px;
    color: #757575;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 2px 5px;
    margin-left: auto;
}

.title{
    font-family: Montserrat;
}