<div class="sidebar-container">
    <p-sidebar [(visible)]="sidebarVisible" class="sidebar">
        <p-avatar 
            image="https://i.pinimg.com/564x/7f/7f/0d/7f7f0deba909cf9877fccf5e06eaa1a6.jpg" 
            styleClass="mr-2" 
            size="xlarge" 
            shape="circle" />
        <h3 class="title">PawPatrol</h3>
        
        <p-panelMenu [model]="items" styleClass="w-full md:w-20rem">
            <ng-template pTemplate="item" let-item>
                <a [routerLink]="item.routerLink" pRipple class="flex align-items-center px-3 py-2 cursor-pointer menu-item-link">
                    <i [class]="item.icon + ' text-primary menu-item-icon'"></i>
                    <span class="ml-2 menu-item-label">
                        {{ item.label }}
                    </span>
                    <p-badge *ngIf="item.badge" class="ml-auto menu-item-badge" [value]="item.badge"></p-badge>
                    <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1 shortcut">
                        {{ item.shortcut }}
                    </span>
                </a>
            </ng-template>
        </p-panelMenu>
    </p-sidebar>
</div>
<button (click)="sidebarVisible = true" class="custom-button">
    <i class="pi pi-arrow-right"></i>
</button>
