<div class="adminBackground">
    <app-sidebar></app-sidebar>
    <p-messages></p-messages>
        <h2 class="title">Display enrolled students</h2>

    <div class="dropdown-container">
        <p-dropdown class="dropdown" 
            [options]="courseOptions" 
            [(ngModel)]="selectedCourse" 
            placeholder="View course applications list" 
            [group]="true"
            (onChange)="onCourseSelect()">
            <ng-template let-group pTemplate="group">
                <div class="flex align-items-center">
                    <img 
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'mr-2 flag flag-' + group.value"
                        style="width: 20px" />
                    <span>{{ group.label }}</span>
                </div>
            </ng-template>
        </p-dropdown>
        <button class="btn-cancel" (click)="clearDropdown()">X</button>
    </div>

    <div class="table1-container" *ngIf="selectedCourse">
        <p-table class="table1 centered-table"
            *ngIf="studentIds"
            [value]="studentIds"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="t1id" style="width:20%">ID</th>
                    <th style="width:20%">Name</th>
                    <th style="width:20%">Email</th>
                    <th style="width:20%">Grade</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-studentId>
                <tr>
                    <td>{{ studentId.id }}</td> 
                    <td>{{ studentId.name }}</td>   
                    <td>{{ studentId.email }}</td>
                    <td>{{ studentId.grade }}</td>
                    <td>
                        <div *ngIf="readOnly">
                            <form (ngSubmit)="reassignStudent(studentId.id, selectedCourse.name, newCourseName.value)">
                                <input class = "input" type="text" placeholder="Enter new course name" #newCourseName required>
                                <button class = "btn-assign" type="submit">Assign New Course</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>  
    </div>

    <div class = "btn-export-container" *ngIf="dropdownUsed">
        <a (click)="exportPDF(selectedCourse.id, selectedStatus)" class="btn-export">Export Data</a>
    </div>

    <div class="table2-container" *ngIf="!dropdownUsed">
        <p-table class="table2"
            [value]="courses" 
            styleClass="p-datatable-gridlines" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]">
            
                <ng-template pTemplate="header">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>category</th>
                    <th>studyYear</th>
                    <th>teacher</th>
                    <th>maxCapacity</th>
                    <th>facultySection</th>
                    <th>Count of applications</th>
                </tr>
                </ng-template>
                <ng-template pTemplate="body" let-course>
                <tr>
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.category}}</td>
                    <td>{{course.studyYear}}</td>
                    <td>{{course.teacher}}</td>
                    <td>{{course.maxCapacity}}</td>
                    <td>{{course.facultySection}}</td>
                    <td>{{ course.applicationsCount }}</td>
                    <td>
                        <button class="btn-edit" label="Edit" (click)="editCourse(course)"></button>
                        <button class="btn-delete" severity="danger" (click)="deleteCourse(course.id)"></button>
                    </td>
                </tr>
                </ng-template>
        </p-table>
    </div>

    <div class="course-edit-container">
        <div class="course-edit" *ngIf="editedCourse">
            <form class="edit-form">
                <h3>Edit Course</h3>
                <!-- Input fields for editing course details -->
                <input class="input-form" type="text" [(ngModel)]="editedCourse.name" name="name" placeholder="Name"><br>
                <input class="input-form" type="text" [(ngModel)]="editedCourse.category" name="category" placeholder="Category"><br>
                <input class="input-form" type="number" [(ngModel)]="editedCourse.studyYear" name="studyYear" placeholder="Study Year"><br>
                <input class="input-form" type="text" [(ngModel)]="editedCourse.teacher" name="teacher" placeholder="Teacher"><br>
                <input class="input-form" type="number" [(ngModel)]="editedCourse.maxCapacity" name="maxCapacity" placeholder="Capacity"><br>
                <input class="input-form" type="text" [(ngModel)]="editedCourse.facultySection" name="facultySection" placeholder="Faculty Section"><br>
                <input class="input-form" type="number" [(ngModel)]="editedCourse.applicationsCount" name="applicationsCount" placeholder="Count"><br>
                <!-- Button functionalities for each course -->
                <div class="btn-container">
                    <button class="btn-update" type="button" (click)="updateCourse()">Update</button>
                    <button class="btn-cancel-edit" type="button" (click)="cancelEdit()">Cancel</button>
                </div>
            </form>
        </div>
    </div>

</div>
