
<button class="btn-new" routerLink="/admin/courses/post">Add course</button>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>category</th>
            <th>studyYear</th>
            <th>teacher</th>
            <th>maxCapacity</th>
            <th>facultySection</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses"> <!-- Loop through all the courses -->
            <td>{{course.name}}</td>
            <td>{{course.category}}</td>
            <td>{{course.studyYear}}</td>
            <td>{{course.teacher}}</td>
            <td>{{course.maxCapacity}}</td>
            <td>{{course.facultySection}}</td>
            <td>
                <button class="btn-new" routerLink="/admin/courses/{{course.id}}">Edit</button>

            </td>
        </tr>
    </tbody>
</table>

