<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<app-toolbar></app-toolbar>
<div class="container">
    <div class="profile-container">
        <h2 class="title">Student Profile</h2>
        <div class="profile-content">
            <div class="profile-photo">
                <img src="https://e7.pngegg.com/pngimages/49/613/png-clipart-computer-icons-avatar-user-profile-avatar-heroes-dark.png" alt="Student Photo">
            </div>
            <div class="profile-details">
                <div class="profile-details-row">
                    <label>Student ID:</label>
                    <p class="data">{{ 'I' + student.id }}</p>
                </div>
                <div class="profile-details-row">
                    <label>Name:</label>
                    <p class="data">{{ student.name }}</p>
                </div>
                <div class="profile-details-row">
                    <label>Email:</label>
                    <p class="data">{{ student.email }}</p>
                </div>
                <div class="profile-details-row">
                    <label>Faculty Section:</label>
                    <p class="data">{{ student.facultySection }}</p>
                </div>
                <div class="profile-details-row">
                    <label>Study Year:</label>
                    <p class="data">{{ student.studyYear }}</p>
                </div>
                <div class="profile-details-row">
                    <label>Grade:</label>
                    <p class="data">{{ student.grade }}</p>
                </div>
            </div>
        </div>
        <div class="button-container">
            <a routerLink="/student/1/applications" class="p-button font-bold">View Application</a>
            <!-- <a routerLink="/student/1/myprofile" class="p-button font-bold">PDF Extractor</a> -->
        </div>
    </div>
</div>

