.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
