<div class="adminBackground">
    <app-sidebar></app-sidebar>

    <h1 class="title">Dashboard</h1>

    <div class="counter-container">
        <p-meterGroup [value]="value" labelPosition="start" class="p-meterGroup">
            <ng-template pTemplate="label">
                <div class="flex flex-wrap gap-3" style="justify-content: center; text-align: center;">
                    <ng-container *ngFor="let meterItem of value; let index = index">
                        <p-card class="card1" [style.backgroundColor]="meterItem.label === 'Read-Only' ? meterItem.color : 'inherit'">
                            <div class="content-box" style="width: 100px; height:100px">
                                <span class="icons">
                                    <i [class]="meterItem.icon"></i>
                                </span>
                                <div class="flex flex-column gap-1">
                                    <span class="text-secondary text-sm">{{ meterItem.label }}</span>
                                    <span class="font-bold text-lg">{{ meterItem.value }}</span>
                                </div>
                            </div>
                        </p-card>
                    </ng-container>
                </div>
            </ng-template>
            <ng-template pTemplate="meter" let-value let-class="class" let-width="size">
                <span [class]="class" [style]="{ background: 'linear-gradient(to right, ' + value.color + ', ' + value.color + ')'}"></span>
            </ng-template>
        </p-meterGroup>
    </div>

    <div class="main-container">
        <div class="chart">
            <p-chart type="bar" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
</div>
