.title{
    font-size: 50px;
    font-family: Montserrat;
    margin-top: 0px;
    text-align: center;
}

.counter-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-container {
    width: 250px;
    height: 125px;
    border: 1px solid white;
    border-radius: 3rem;
    margin-right: 70px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #808080, #000000);
    color: white;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 30px;
}

.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 3rem;
    background: #a2b9bc;
}
.second-container{
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 3rem;
    display: flex;
    background: linear-gradient(to right, #808080, #000000);
    color: white;
       
}

/* Style for the title */
.secondtitle {
    margin-bottom:25px;
    font-size: 30px;
    font-family: Montserrat;
    text-align: start;
    text-decoration: solid;
    color: black;

}

/* Style for the button */
.first-container p-button {
    margin-top: 30px; 
}